* {
    margin: 0;
    padding: 0;
    color: #685454;
font-family: 'Unbounded', cursive;
}

li {
  list-style: none;
}
a {
    text-decoration:none;
}
.whole {
  background-image: url(大理石2.jpg);
  padding: 5vw 15vw;
  opacity: 0.7;
  position: relative;
  height: 50vw;
}

.container {
  text-align: center;
    background-color: #f9f7f7;
    height: 15vw;
    display: block;
    padding-top : 30px;
  }
.topName {
  font-size: 40px;
  padding: 0px;
}
.portforio {
  opacity: 0.7;
}
 .menu-list li :hover {
   opacity: 0.5;
}
.menu-list li {
  padding: 20px 0 ;
}
.menu-list {
  font-size:60px;
  display: flex;
  margin:60px 0;
  position:relative;
top:0px;
left:-100vw;
transition : all 0.5s ease;
}
.menu-list.active {
  left:0vw;
}
.menu-top, .menu-under  {
  width: 50%;
  padding-left: 130px;
}
.fa-heart {
position:absolute;
top: 30vw;
left:43rem;
opacity: 1;
padding: 15px;
border: 2px solid ;
border-radius: 50%;
box-shadow: 0 4px 0 0 ;
}
.fa-heart:hover {
color:#ea8a8a;
}
.fa-heart.active {
  opacity: 0;
}
.fa-xmark {
  position:absolute;
  top: 30vw;
  left:45rem;
  opacity: 0;
}
.fa-xmark.active {
  opacity: 1;
}


@media (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
}
.container {
  margin-top: 5vw;
}
.portforio h2 {
  font-size:20px;
  margin-top: 10vw;
}

.container {
  height: 40vw;
  width: 90%;
    padding: 20px 0px;
}
.name h1 {
  margin: 10px 10px;
  font-size: 40px;
}
.whole {
  height: 150vw;
  width: 100%;
  padding: 5%;
}
.portforio h2 {
  margin-top: 20vw;
}
.fa-heart,.fa-xmark {
  left:45vw;
  top:95vw;
  font-size: 50px;
}
.fa-heart {
  top:90vw;
  left:37vw;
}
.menu-top,.menu-under {
  font-size: 20px;
    margin: 70px 0;
padding: 0;
height: 40vw;
}
.menu-list  {
  height: 70vw;
  width: 90%;
  background-color: #fff;
}
.menu-list li  {
text-align: center;
}
}
