* {
    margin: 0;
    padding: 0;
    color: #685454;
font-family: 'Unbounded', cursive;
}
.whole {
  background-image: url(大理石2.jpg);
  height: 50vw;
  padding: 5vw 15vw;
}
@media (max-width: 1000px) {
    .whole {
  height: 160vw;
  padding: 5vw 5vw;
}
}
.container {
  text-align: center;
  height: 40vw;
    background-color: #fff;
}
@media (max-width: 1000px) {
    .container {
  height: 110vw;
}
}
.topName {
  height: 8vw;
  font-size: 25px;
  padding-top: 30px;
}
@media (max-width: 1000px) {
    .topName {
  height: 25vw;
  font-size: 35px;
  letter-spacing:2px;
}
}
@media (max-width: 1000px) {
    .name h1 {
  padding-bottom: 10px;
}
}
@media (max-width: 1000px) {
    .portforio h2 {
  padding-top: 20px;
}
}
@media (max-width: 1000px) {
    .my-photo {
height: 55vw;
padding-top: 15px;
}
}
.img img {
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
  }
  @media (max-width: 1000px) {
      .img img {
width: 70vw;
height: 50vw;
  }
  }
.content {
    display: flex;
    justify-content:center;
    font-size: 40px;
    font-weight: bold;
  margin-top: 45px;
}
@media (max-width: 1000px) {
.content   {
font-size: 70px;
margin-top: 5vw;
}
}
.left a {
margin-right: 5vw;
border: 3px solid;
padding: 10px;
text-decoration: none;
}
@media (max-width: 1000px) {
.left a  {
margin-right: 100px;
}
}
.right a {
border: 3px solid;
padding: 10px;
text-decoration: none;
}
.content a:hover{
  background-color: #dcdcdc;
}
@media (max-width: 1000px) {
.content a:hover  {
  background-color: #fff;
}
}
footer a {
  color: #fff;
text-align: center;
    font-size: 30px;
    font-weight: bold;
  display: block;
  margin: 30px 25vw;
  }
  @media (max-width: 1000px) {
footer a {
  width: auto;
font-size: 50px;
margin: 50px 0px;
padding: 5vw;
background-color: #fff;
color:  #685454;
  }
  }
footer a:hover {
opacity: 0.2;
}
