* {
    margin: 0;
    padding: 0;
    color: #685454;
font-family: 'Unbounded', cursive;
}
.whole {
  background-image: url(大理石2.jpg);
  background-size: ;
  height: 50vw;
  padding: 5vw 25vw;
}
@media (max-width: 1000px) {
    .whole {
  height: 70vw;
  padding: 5vw 15vw;
}
}
.container {
  text-align: center;
  height: 40vw;
    background-color: #fff;
}
@media (max-width: 1000px) {
    .container {
  height: 65vw;
}
}
.topName {
  height: 8vw;
  font-size: 25px;
  padding-top: 30px;
}
@media (max-width: 1000px) {
    .topName {
  height: 15vw;
  font-size: 20px;
}
}
@media (max-width: 1000px) {
    .name h1 {
  padding-bottom: 10px;
}
}
@media (max-width: 1000px) {
    .portforio h2 {
  padding-top: 20px;
}
}
@media (max-width: 1000px) {
    .my-photo {
height: 25vw;
padding-top: 15px;
}
}
.img img {
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
  }
  @media (max-width: 1000px) {
      .img img {

  }
  }
.content {
    display: flex;
    justify-content:center;
    font-size: 40px;
    font-weight: bold;
  margin-top: 45px;
}
.left a {
margin-right: 5vw;
border: 3px solid;
padding: 10px;
text-decoration: none;
}
.right a {
border: 3px solid;
padding: 10px;
text-decoration: none;
}
.content a:hover{
  background-color: #bdbdbd;
}
